body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 1rem;
}

table {
  text-align: left;
}

.top-container .background {
  position: relative;
  width: 100%;
}

li {
  text-align: left;
}

h1 {
  margin: 30px auto 10px;
  font-size: 5rem;
  font-family: 'Indie Flower', cursive;
}

h2 {
  color: #f59aa3;
  font-family: 'ABeeZee', sans-serif;
}

h3 {
  color: #f59aa3;
  font-family: 'ABeeZee', sans-serif;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 10%;
  margin: 60px auto;
  color: #40514e;
}

a {
color: #f59aa3;
margin: 20px 10px;
text-decoration: none;
}

a:hover {
  color: white;
}

.top-content {
  position: absolute;
  top: 0;
  left: 35%;
  color: white;
  font-size: 2rem;
}

.profile img {
border-radius: 50%;
}

.skills {
  margin: auto;
}

.skill-row {
  text-align: left;
  margin: 100px auto 100px auto;
  width: 50%;
  line-height: 2;
}

.programmer {
margin-bottom: 0;
}

.developer {
  float: left;
  margin-right: 30px;
}

.languages {
  float: left;
  margin-right: 30px;
}

.middle-container {
  padding-top: 50px;
}

.contact-me {
  margin-bottom: 50px;
}
.contact-me-msg {
  margin: 40px auto 60px;
  width: 40%;
  text-align: center;
}

.btn {
  background: #fabebe;
  background-image: -webkit-linear-gradient(top, #fabebe, #f5828f);
  background-image: -moz-linear-gradient(top, #fabebe, #f5828f);
  background-image: -ms-linear-gradient(top, #fabebe, #f5828f);
  background-image: -o-linear-gradient(top, #fabebe, #f5828f);
  background-image: linear-gradient(to bottom, #fabebe, #f5828f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f59aa3;
  background-image: -webkit-linear-gradient(top, #f59aa3, #e37070);
  background-image: -moz-linear-gradient(top, #f59aa3, #e37070);
  background-image: -ms-linear-gradient(top, #f59aa3, #e37070);
  background-image: -o-linear-gradient(top, #f59aa3, #e37070);
  background-image: linear-gradient(to bottom, #f59aa3, #e37070);
  text-decoration: none;
}

.bottom-container {
  background-color: #f4dada;
  padding-top: 15px;
  padding-bottom: 30px;
}

.last-signature {
  color: #e37070;
  padding: 20px 0;
  font-size: 0.75rem;
}
