body {
  margin: 0;
  text-align: center;
  font-family: 'EB Garamond', serif;
}

.top_container img{
  position: relative;
  width: 100%;
}

h1 {
  margin: 30px auto 10px;
font-size: 5rem;
font-family: 'Indie Flower', cursive;
}

h2 {
font-family: 'ABeeZee', sans-serif;
}

h3 {
font-family: 'ABeeZee', sans-serif;
}

.top_content {
  position: absolute;
  top: 0;
  left: 40%;
  color: white;
  font-size: 2rem;
}

.skill-row {
  position: absolute;
  width: 50%;
}
